.price {
	height: 80px;
  padding: 10px;
	display: flex;
	flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 2px;

	&__head {
		height: 30px;
		padding: 0 5px 3px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-property {
			font-size: 1.4em;
			font-weight: 400;
		}

		&-value {
			font-size: 1.2em;
			font-weight: 400;
		}
	}

	&__head:first-child {
		border-bottom: 1px solid black;
	}

	&__footer {
		height: 35px;
		padding: 3px 5px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-property {
			font-size: 1.4em;
			font-weight: 400;
		}

		&-value {
			font-size: 1.2em;
			font-weight: 400;
		}
	}
}
